<!-- Cabeçalho -->
 <app-header></app-header>
  <!-- Conteúdo Principal -->
  <ion-content>
    <ion-list>
      <!-- Receita 1 -->
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://cdn.pixabay.com/photo/2017/06/03/23/56/cake-2370008_1280.jpg" alt="Bolo de Chocolate">
        </ion-thumbnail>
        <ion-label>
          <h2>Bolo de Chocolate</h2>
          <p>Uma deliciosa receita de bolo de chocolate.</p>
        </ion-label>
      </ion-item>

      <!-- Receita 2 -->
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://cdn.pixabay.com/photo/2019/01/10/19/36/valentine-3925931_1280.jpg" alt="Bolo de Morango">
        </ion-thumbnail>
        <ion-label>
          <h2>Bolo de Morango</h2>
          <p>Um bolo fresco com morangos.</p>
        </ion-label>
      </ion-item>

      <!-- Mais Receitas -->
      <ion-item button lines="none">
        <ion-label>
          <h2>Ver Mais Receitas</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>




